<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>An Error has occurred!</h1>
    <p>Sorry, an error has occurred we will fix it as soon as possible.
        Sorry for the inconvinence
    </p>

<%- include('includes/end.ejs') %>